:host,
figme-item {
    float: left;
    width: 25%;
    margin-bottom: -5px;
}

@media (max-width:960px) {
    :host,
    figme-item {
        width: 50%;
    };
}

@media (max-width:500px) {
    :host,
    figme-item {
        width: 100%;
    };
}

paper-tooltip {
    font-family: 'Roboto', 'Noto', sans-serif;
    --paper-tooltip-background: black;
}

iron-image {
    width: 100%;
    height: 250px;
}

.item {
    position: relative;
    cursor: pointer;
}

.loading {
    bottom: 10px;
    position: absolute;
    z-index: 1000;
    margin-left: 10%;
    width: 80%;
    height: 10px;
    border-radius: 50px;
    background: #47A6F7;
    -webkit-animation: right 0.3s infinite ease-in-out;
    -moz-animation: right 0.3s infinite ease-in-out;
    animation: right 0.3s infinite ease-in-out;
    display: none;
}

@-webkit-keyframes right {
  0%   { -webkit-transform: translate(-15px);   }
  50%  { -webkit-transform: translate(15px);    }
  100% { -webkit-transform: translate(-15px);   }
}

@-webkit-keyframes left {
  0%   { -webkit-transform: translate(15px);    }
  50%  { -webkit-transform: translate(-15px);   }
  100% { -webkit-transform: translate(15px);    }
}

@-moz-keyframes right {
  0%   { -moz-transform: translate(-15px);   }
  50%  { -moz-transform: translate(15px);    }
  100% { -moz-transform: translate(-15px);   }
}

@-moz-keyframes left {
  0%   { -moz-transform: translate(15px);    }
  50%  { -moz-transform: translate(-15px);   }
  100% { -moz-transform: translate(15px);    }
}

@keyframes right {
  0%   { transform: translate(-15px);  }
  50%  { transform: translate(15px);   }
  100% { transform: translate(-15px);  }
}

@keyframes left {
  0%   { transform: translate(15px);   }
  50%  { transform: translate(-15px);  }
  100% { transform: translate(15px);   }
}
