.container {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.more {
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.more paper-icon-button {
    color: #FFF;
}

.stats {
    max-width: 500px;
    margin: 0 auto;
    border-top: 1px solid #89C6F9;
    padding: 15px 0 0 0;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0px;
}

.stats span {
    font-weight: 700;
}

.stats a {
    font-weight: 300;
    color: #FFF;
    text-decoration: none;
}
