.view {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.view ._actions {
    margin-top: -5px;
    color: #fff;
}

.view iron-image {
    width: 100%;
    height: 250px;
}

paper-tooltip {
    --paper-tooltip-background: #47A6F7;
}
